@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply antialiased text-gray-900 bg-gray-50;
  font-family: 'Outfit', system-ui, sans-serif;
}
